.parcel-status-history {
  list-style: none;
}

.parcel-status-history__marker {
  border-radius: 999px;
  border: 2px solid var(--gray-6);
}

.parcel-status-history__item--achieved .parcel-status-history__marker {
  border: 2px solid var(--accent-6);
  background-color: var(--accent-9);
}

.parcel-status-history__line {
  background-color: var(--gray-6);
}

.parcel-status-history__item:has(+ .parcel-status-history__item--achieved)
  .parcel-status-history__line {
  background-color: var(--accent-6);
}

.parcel-status-history__item:last-child .parcel-status-history__line {
  display: none;
}
