# Environment
NODE_ENV=
ENV_NAME=
PORT=
WEB_URL=

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SSL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL=
BETTER_AUTH_COOKIES_DOMAIN=

# OTP Delivery
TELEGRAM_GATEWAY_ACCESS_TOKEN=
MOBIZON_API_KEY=
SMSC_API_KEY=
SENDPULSE_API_KEY=
TELEGRAM_FALLBACK_BOT_TOKEN=
TELEGRAM_FALLBACK_CHAT_ID=
